* {
    box-sizing: border-box;
}

.slider-menu-wrapper-container {
    position: relative;
}

.slider-menu-wrapper-container svg {
    display: none;
}

.slider-menu-wrapper-container:hover svg {
    display: initial;
}

.slider-menu-wrapper {
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    padding: 2em 0;
}

.slider-menu-container {
    display: grid;
    justify-content: space-between;
}
.slider-menu-next-icon, .slider-menu-prev-icon  {
  right: 1em;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  z-index: 10;
  cursor: pointer;
}


.slider-menu-prev-icon {
    left: 1em;
  }

.slider-menu-container > div {
    margin: 0 3%;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.slider-menu-container > div:hover {
    transform: scale(1.07);
}

